body {
    background-color:#8FC48D;
    font-family:Arial, Calibri;
    color:white;
}

#header{
    background-image: url(Images/Homework.jpg);
    text-align:center;
    background-repeat:no-repeat;
    background-position:center;
    
}


ul#navlist
{
margin-left: 0;
padding-left: 0;
white-space: nowrap;
}

#navlist li
{
display: inline;
list-style-type: none;
}

#navlist a { padding: 3px 10px; }

#navlist a:link, #navlist a:visited
{
color: white;
background-color: #8FC48D;
text-decoration: none;
}

#navlist a:hover
{
color: white;
background-color: #0F4E0C;
text-decoration: double;
}

h1{
    color: #3E853A;
    /*background-color:white;*/
    margin-left:30%;
    margin-right: 30%;
   
   
}
h2{
    color:#3E853A;
    margin-left:30%;
    margin-right:30%;
    /*background-color:white;*/
    margin-top: 0px;
}
#Footer{
    color: white;
    text-align:center;
    font-size: 70%;

    
}
#GridView1{
    
}
#Date{
    text-align:center;
    background-color:white;
    color:#3E853A;
}
.searchBTN {
  color: #3E853A;
  font-family: Arial, Sans-Serif;
  font-size: 12px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;
  position: relative;
  padding: 10px 20px;
  -webkit-box-shadow: 5px 5px 0 #666;
  -moz-box-shadow: 5px 5px 0 #666;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  margin: 0 10px 0 0;
}

.searchBTN:hover {
  -webkit-box-shadow: 0px 0px 0 #666;
  -moz-box-shadow: 0px 0px 0 #666;
  top: 5px;
  left: 5px;
}
.cssgridview{
    width:80%;
    border:solid 3px white;
    border-collapse:collapse;
    font-family:Arial;
    color:white;
    text-align:center;

}
.cssgridview th{
    background-color:#3E853A;
}
.cssgridview .alt{
    background-color:#3E853A;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.left{
    background-color:#3E853A;
    text-align:right;
    color:white
    
}
.right{
    background-color:white;
    color: #3E853A;
}
#mail{
    margin-left:auto;
    margin-right:auto;
    
}
#About{
    margin-left:10%;
    margin-right:10%;
    color:white;
}